<!--{% extends 'calculator/base.html' %}-->
<!--{% load crispy_forms_tags %}-->
<!--{% block content %}-->
<!--<div class="content-section">-->
<!--    <h2>Hello {{ user.username }}! What would you like to do?</h2>-->
<!--    <br>-->
<!--    <br>-->
<!--    <p class="d-inline-flex gap-1">-->
<!--         <a href="{% url 'keto_app_user_update' user.ketoappuser.id %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">1. Change my body parameters </a>-->
<!--    </p>-->
<!--     <br>-->
<!--    <br>-->
<!--     <p class="d-inline-flex gap-1">-->
<!--         <a href="{% url 'keto_app_user_demand_detail' user.ketoappuser.demand.id %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">2. Show my daily macronutrient requirements</a>-->
<!--     </p>-->
<!--    <br>-->
<!--    <br>-->
<!--    <p class="d-inline-flex gap-1">-->
<!--         <a href="{% url 'product_create' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">3. Calculate a product and add in to my daily list</a>-->
<!--    </p>-->
<!--    <br>-->
<!--    <br>-->
<!--    <p class="d-inline-flex gap-1">-->
<!--            <a href="{% url 'products_list' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> 4. Show my today's product list </a>-->
<!--        </p>-->
<!--    <br>-->
<!--    <br>-->
<!--    <p class="d-inline-flex gap-1">-->
<!--        <a href="{% url 'full_day_macronutrients' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> 5. Show today's summary </a>-->
<!--    </p>-->

<!--</div>-->
<!--{% endblock %}-->


