{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4"> My Caloric Demand </h1>
            <br>
             <div class="card border-warning border-2 text-dark bg-primary mb-3">
                    <div class="card-header">
                        <h1 class="display-4">{{ object.kcal}} kcal</h1>

    </div>
                 <div class="card-body">
          <p class="card-text">
        <h4> FAT : {{ object.fat }} grams </h4>
        <br>
        <h4> PROTEIN : {{ object.protein }} grams </h4>
        <br>
        <h4> CARBS : {{ object.carbs }} grams </h4>
            </p>
    </div>
               </div>
        </div>
         </div>
         </div>
<div>
{% endblock%}