{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1> Your daily macronutrient requirements are: </h1>
        <br>
        <br>
        <h1> {{ object.kcal}} kcal </h1>
        <br>
        <h2> FAT : {{ object.fat }} grams </h2>
        <br>
        <h2> PROTEIN : {{ object.protein }} grams </h2>
        <br>
        <h2> CARBS : {{ object.carbs }} grams </h2>
        <br>
        <p class="d-inline-flex gap-1">
         <a href="{% url 'product_create' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> Calculate single product and full meal macronutrients </a>
    </p>
    </div>
{% endblock%}


