{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">
                 <i class="bi bi-card-checklist"></i>
                <strong>MY PRODUCT LIST</strong>
            </h1>
              <h1 class="display-6"> {{ today }}</h1>
            <br>
            <p class="d-inline-flex gap-1">
                <a class = "btn btn-outline-warning" href="{% url 'product_create' selected_date=today %}">Add Product <i class="bi bi-plus-square"></i></a>
            </p>
             <p class="d-inline-flex gap-1">
                {% if fulldayintake %}
                 <a class = "btn btn-outline-dark" href="{% url 'summary' fulldayintake.id  %}">SUMMARY <i class="bi bi-pencil-square"></i></a>
                {% endif %}
             </p>
            <br/>
             {% for product in products_list %}
                <div class="card border-warning border-2 bg-primary mb-3 ">
                    <div class="card-header bg-danger ">
                        <a href="{% url 'product_detail' product.id %}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><strong>{{ product.grams  }} GRAMS {{ product.name|upper }}</strong></a>
            </div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{ product.kcal}} kcal</h5>
            <p class="card-text">
                <h6> FAT : {{ product.fat }} grams </h6>
                <h6> PROTEIN : {{ product.protein }} grams </h6>
                <h6> CARBS : {{ product.carb }} grams </h6>
                </p>

            </div>
        </div>
             {% empty %}
                <h3 class="text-danger">THE LIST IS EMPTY, ADD PRODUCT</h3>
            {% endfor %}
            </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end">
                <div class="content-section">
                    <br>
                    <h6> Your API token is: : {{ token }} </h6>
                    {% if user.ketoappuser.demand %}
                    <div class="card border-warning text-warning bg-primary mb-3" style="max-width: 30rem;">
                        <div class="card-header bg-danger mb-3">
                            <h1 class="display-6 "><i class="bi bi-fire"></i> My Caloric Demand </h1>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ user.ketoappuser.demand.kcal}} kcal</h5>
                            <p class="card-text">
                                <h6> FAT : {{ user.ketoappuser.demand.fat }} grams </h6>
                                <h6> PROTEIN : {{ user.ketoappuser.demand.protein }} grams </h6>
                                <h6> CARBS : {{ user.ketoappuser.demand.carbs }} grams </h6>
                            </p>
                        </div>
                    </div>
                    {% else%}
                     <h3 class="text-warning">GO TO BODY DETAILS AND ADD YOUR DAILY DEMAND !</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
