{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h2>Hello {{ user.username }}! What would you like to do?</h2>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <p class="d-inline-flex gap-1">
                <a href="{% url 'keto_app_user_update' user.ketoappuser.id %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">1. BODY PARAMETERS </a>
            </p>
            <br>
            <br>
            <p class="d-inline-flex gap-1">
                <a href="{% url 'keto_app_user_demand_detail' user.ketoappuser.demand.id %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">2. DAILY REQUIREMENTS</a>
            </p>
             <br>
            <br>
            <p class="d-inline-flex gap-1">
                <a href="{% url 'product_create' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">3. ADD PRODUCT</a>
            </p>
            <br>
            <br>
            <p class="d-inline-flex gap-1">
                <a href="{% url 'calendar' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> 4. CALENDAR </a>
             </p>
            <br>
            <br>
            <p class="d-inline-flex gap-1">
                <a href="{% url 'full_day_macronutrients' user.ketoappuser.id %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> 5. TODAY'S SUMMARY </a>
            </p>
        </div>
        <div class="col">
            <h1><strong>MY LIST</strong> </h1>
              <h4> {{ today }}</h4>
            <br/>
            {% if not products_list %}
           <strong>THE LIST IS EMPTY, ADD PRODUCT!</strong>
            {% else %}
            {% endif %}
                {% for product in products_list %}
        <br>
        <div class="content-section">
            <h6> -----------------------</h6>
            <h4> {{ product.grams  }} GRAMS {{ product.name|upper }} </h4>
            <br>

            <h5> {{ product.kcal}} kcal </h5>

            <h5> FAT : {{ product.fat }} grams </h5>

            <h5> PROTEIN : {{ product.protein }} grams </h5>

            <h5> CARBS : {{ product.carb }} grams </h5>
            <br>

        </div>
            <p class="d-inline-flex gap-1">
                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product_update' product.id %}">Update</a>
            </p>
             <p class="d-inline-flex gap-1">
                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product_delete' product.id %}">Delete</a>
            </p>

        {% endfor %}

    <h6>----------------------</h6>
        <p class="d-inline-flex gap-1">
            <a href="{% url 'product_create' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> Add product </a>
        </p>

        </div>
</div>
    {% endblock %}