{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/custom_bootstrap.css' %}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <title>{% block title %}{% endblock %}</title>

  </head>
  <body class="test">

  <nav class="navbar navbar-expand-lg navbar-light bg-light m-2 ">
  <div class="container-fluid">
      <i class="bi bi-calculator color-warning"></i>
        <a class="navbar-brand text-warning" href="#"><strong>KETO CALCULATOR</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <li class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
            <a class="nav-item nav-link text-dark" href="{% url 'profile' %}"><i class="bi bi-person-circle"></i> Profile </a>
        </li>
          <li class="nav-item">
        <a class="nav-item nav-link text-dark " href="{% url 'keto_app_user_update' user.ketoappuser.id %}"><i class="bi bi-person-arms-up"></i> Body details </a>
          </li>
             <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="{% url 'keto_app_user_demand_detail' user.ketoappuser.demand.id %}"><i class="bi bi-fire"></i> Caloric demand </a>
          </li>
          <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="{% url 'calendar' %}"><i class="bi bi-calendar-day-fill"></i> Calendar </a>
        </li>
            <li class="nav-item">
            <form class="container-fluid" id="logout" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                <button type="submit" form="logout" class="nav-item nav-link justify-content-md-end text-dark"> Logout <i class="bi bi-box-arrow-right"></i></button>
            </form>

            </li>
          {% else %}
            <div class="navbar-nav">
                <a class="nav-item nav-link text-dark" href="{% url 'login' %}"><i class="bi bi-person-lock"></i> Login</a>
            </div>

            <div class="navbar-nav">
                <a class="nav-item nav-link text-dark" href="{% url 'register' %}"><i class="bi bi-person-add"></i> Register</a>
            </div>
 </ul>
            {% endif %}


        </div>
    </nav>
    <div class="container-fluid bg-success">
        <br>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

</body>
</html>
