<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          eventClick: function(event) {
            if (confirm("Are you sure you want to remove this summary?")) {
                var id = event.id;
                $.ajax({
                    type: "GET",
                    url: '/remove',
                    data: {'id': id},
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Summary Removed');
                    },
                    error: function (data) {
                        alert('There is a problem');
                    },
                });
            }
          },
             eventClick: function(info) {
          alert('SUMMARY: ' + info.event.title);
          info.el.style.borderColor = 'red';
          },


          initialView: 'dayGridMonth',
          events: '/all_events',

        });
        calendar.render();
        });

    </script>
  </head>
  <body>

    <div id='calendar'></div>
  </body>
</html>



<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          eventClick: function(info) {
          alert('SUMMARY: ' + info.event.title);
          info.el.style.borderColor = 'red';
          },
          initialView: 'dayGridMonth',
          events: '/all_events',
        });
        calendar.render();
        });

    </script>
  </head>
  <body>

    <div id='calendar'></div>
  </body>
</html>