{% extends 'calculator/base.html' %}
{% block content %}
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script>
      var const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      var const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
    <script>


      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
<!--          eventMouseEnter: function(info) {-->
<!--          alert('SUMMARY: ' + info.event.title);-->
<!--          },-->
<!--          eventClick: function(event) {-->
<!--            if (confirm("Are you sure you want to remove this summary?")) {-->
<!--                var id = event.id;-->
<!--                $.ajax({-->
<!--                    type: "GET",-->
<!--                    url: '/remove',-->
<!--                    data: {'id': id},-->
<!--                    dataType: "json",-->
<!--                    success: function (data) {-->
<!--                        calendar.fullCalendar('refetchEvents');-->
<!--                        alert('Summary Removed');-->
<!--                    },-->
<!--                    error: function (data) {-->
<!--                        alert('There is a problem');-->
<!--                    },-->
<!--                });-->
<!--            }-->
<!--          },-->
          initialView: 'dayGridMonth',
<!--          eventDidMount: function(info) {-->
<!--            var tooltip = new Tooltip(info.el, {-->
<!--              title: info.event.extendedProps.title,-->
<!--              placement: 'top',-->
<!--              trigger: 'hover',-->
<!--              container: 'body',-->
<!--            });-->
<!--          },-->
   
<!--          dayMaxEvents: true,-->
<!--          dayMaxEventRows: true,-->
<!--            views: {-->
<!--              timeGrid: {-->
<!--                dayMaxEventRows: 2-->
<!--              }-->
<!--             },-->
          events: '/all_events',
          'eventColor': '#D37C26',

        });

        calendar.render();
        });

    </script>
  </head>

    <div id='calendar'></div>

{% endblock %}