{% extends 'calculator/base.html' %}
{% block content %}
  <head>
    <meta charset='utf-8' />
  </head>

<style>
  body{
	height:5px;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: '/all_events',
      eventColor: '#D37C26',
      eventDidMount: function(info) {
          $(info.el).popover({
            title: info.event.title,
            placement: "top",
            trigger: "hover",
            container: "body",
            });
      },
    });

    calendar.render();
    });

</script>
<div id='calendar'></div>

{% endblock %}