{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
            <h1> MACRONUTRIENTS SUMMARY </h1>
            <h4>{{ object.date }}</h4>
            <br>
            <br>
            <h1> {{ object.total_kcal}} <strong>kcal</strong> </h1>
            <br>
            <h2><strong>FAT</strong> : {{ object.total_fat }} grams </h2>
            <br>
            <h2> <strong>PROTEIN</strong> : {{ object.total_protein }} grams </h2>
            <br>
            <h2> <strong>CARBS</strong> : {{ object.total_carbs }} grams </h2>
            <br>
            <br>
            <p class="d-inline-flex gap-1">
            <a href="{% url 'product_create' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> Add product  </a>
            </p>
             <p class="d-inline-flex gap-1">
            <a href="{% url 'calendar' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"> Back to calendar </a>
        </p>
        </div>

{% endblock %}
