{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">
                 <i class="bi bi-card-checklist"></i>
                <strong>MY LIST</strong>
            </h1>
              <h1 class="display-6"> {{ date }}</h1>
            <br>
            <p class="d-inline-flex gap-1">
                <a class = "btn btn-outline-warning" href="{% url 'product_create' %}">Add Product <i class="bi bi-plus-square"></i></a>
            </p>
             <p class="d-inline-flex gap-1">
                <a class = "btn btn-outline-dark" href="{% url 'summary' fulldayintake.id %}">SUMMARY <i class="bi bi-pencil-square"></i></a>
            </p>
             <p class="d-inline-flex gap-1">
                <a class = "btn btn-outline-secondary" href="{% url 'send_report_pdf' %}">Generate Report <i class="bi bi-envelope-at"></i></a>
            </p>
            <br/>
                {% for product in product_by_date %}
                <div class="card border-warning border-2 mb-3 bg-primary mb-3">
                    <div class="card-header">
                        <a href="{% url 'product_detail' product.id %}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" ><strong>{{ product.grams  }} GRAMS {{ product.name|upper }}</strong></a>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ product.kcal}} kcal</h5>
            <p class="card-text">
                <h6> FAT : {{ product.fat }} grams </h6>
                <h6> PROTEIN : {{ product.protein }} grams </h6>
                <h6> CARBS : {{ product.carb }} grams </h6>
                </p>
            </div>
        </div>
             {% empty %}
       <h3 class="text-danger">THE LIST IS EMPTY</h3>
            {% endfor %}
        </div>

{% endblock %}





