{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
               <h1 class="display-6">Enter dates and email</h1>
                <br>
                  {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Send Report <i class="bi bi-envelope-check"></i></button>
            </div>
        </form>
    </div>
  </div>
{% endblock%}

