{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
             <div class="card border-warning border-2 text-dark bg-primary mb-3">
                    <div class="card-header">
                        <h4> {{ object.grams  }} GRAMS {{ object.name|upper }} </h4>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ object.kcal}} kcal</h5>
            <p class="card-text">
                <h6> FAT : {{ object.fat }} grams </h6>
                <h6> PROTEIN : {{ object.protein }} grams </h6>
                <h6> CARBS : {{ object.carb }} grams </h6>
                </p>

            </div>
                  </div>
                  <a class = "btn btn-outline-primary btn-sm mt-1 mb-1" href="{% url 'product_update' product.id %}">Update <i class="bi bi-arrow-clockwise"></i></a>
                <a class = "btn btn-outline-dark btn-sm mt-1 mb-1" href="{% url 'product_delete' product.id %}">Delete <i class="bi bi-trash3"></i></a>

                 </div>
        </div>
         </div>
{% endblock%}
